*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

/*Colors for reference - probably won't use this palette*/

.first-color { 
	background: #f0fdfa; 
}
	
.second-color { 
	background: #a5f3fc; 
}

.third-color { 
	background: #22d3ee; 
}

.fourth-color { 
	background: #155e75; 
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px 1fr;
}

.announcements {
    background-color:#f0fdfa
}



.card {
    padding: 1rem;
    text-align: start;
    background-color: #f0fdfa;
    border-radius: 4px;
}

p:first-child {
    text-align: center;
    font-weight: 500;
}

.sidebar {
    background-color: #22d3ee;
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.logo {
    padding: 1rem 1rem 0 2rem;
   
} 


.sidebar > ul {
    width: 100%;
}

.sidebar > ul > li {
    display: flex;
    padding: 0.3rem;
    gap: 1.5rem;
    align-items: center;
}

li {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: #a5f3fc;
    grid-column: 2 / 4;
}

.header > form {
    margin-left: 2rem;
    align-self: center;
    grid-column: 1;
    grid-row: 1;
}

.header > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2;
    grid-row: 2 / 3;
}

.header-btn {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #155e75;
    color: #f0fdfa;
}

input[type=text] {
    margin-left: 1rem;
    width: 75%;
    border: none;
    font-size: 1.5rem;
}

.article {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    background-color: #155e75;
    grid-column: 2 / 3;
}

.material-icons {
    font-size: 1.3rem;
}

