*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

/*Colors for reference - probably won't use this palette*/

.first-color { 
	background: #57385c; 
}
	
.second-color { 
	background: #a75265; 
}

.third-color { 
	background: #ec7263; 
}

.fourth-color { 
	background: #febe7e; 
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
}



.card {
    background-color: white;
}

.sidebar {
    background-color: #57385c;
    grid-column: 1;
    grid-row: 1 / 3;
}

.header {
    background-color: #febe7e;
    grid-column: 2;
}

.article {
    display: grid;
    gap: 10px;
    background-color: #a75265;
    grid-column: 2;
}