*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.first-color { 
	background: #ffcece; 
}
	
.second-color { 
	background: #ffc1c8; 
}

.third-color { 
	background: #ffe3b0; 
}

.fourth-color { 
	background: #8ed6ff; 
}

body {
    font-family: 'Nunito', sans-serif;
}

main {
   display: flex;
}

img {
    height: 100vh;
    width: 40vw;
}

h2 {
    margin: 5rem;
}

.form-container {
   background-color: #f4f6f7;
}

form {
    padding: 2rem;
}

ul {
    margin: auto;
    list-style: none;
    background-color:#ffc1c8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 3px;
}

li {
    margin-left: 2rem;
    padding: 0.5rem 0;
}

ul li:last-child {
    padding-bottom: 1rem;
}

input {
    margin-top: 0.5rem;
}