* {
    margin: 2px;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    color: black;
    height: 100vh;
    text-align: center;
}

.header {
    color: white;
    background-color: #272343;
    padding: 3rem 0;
}

.main {
 display: flex;
 flex: 1;
} 

.left-side {
    background-color: #bae8e8;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.article {
    background-color: #e3f6f5;
    padding-top: 3rem;
    flex: 3 3 ;
}

.right-side {
    background-color: #bae8e8;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.footer {
    color: white;
    background-color: #272343;
    padding: 3rem 0;
}

@media (max-width: 540px){
    .main {
        flex-direction: column;
    }
}